/* FONTS
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 body{
    background-color: var(--primary);
 }

main{
    height: 100vh;
    width: 100%;
    background: var(--primary) url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    padding: 53px 73px;
}

main .logo img{
    margin-bottom: 80px;
    width: 215px;
}

main .main{
    display: flex;
    width: 100%;
}

main .main .illustration{
    margin-top: 3px;
    width: 100%;
    margin-right: 54px;
}

main .main .illustration img{
    width: 100%;
}

main .main .info{
    /* padding: 48px 40px 48px 54px; */
    width: 100%;
}

main .main .info h1{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 25px;
}

main .main .info p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #FFEFFF;
    margin-bottom: 26px;
}

main .main .info button{
    background-color: white;
    color: #7D6EAD;
    width: 200px;
    height: 56px;
    border: solid 1px white;
    border-radius: 30px;
    font-size: 19px;
    box-shadow: 2px 5px 15px rgb(57, 57, 57);
    transition: 0.3s;
}

main .main .info button:hover{
    cursor: pointer;
    background-color: var(--soft);
    border: solid 1px var(--soft);
    color: white;
}

main .contact{
    height: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 19px;
    margin-top: 8px;
}

main .contact>a{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    text-decoration: none;
    transition: 0.3s;
}

main .contact>a i{
    transition: 0.3s;
}

main .contact>a:hover{
    border: 1px solid var(--soft);
}

main .contact>a:hover i{
    color: var(--soft);
}

main .contact i{
    font-size: 19px;
    color: white;
}

@media(max-width:950px){

    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: contain;
    }

    main .main .illustration img{
        min-width: 90%;
    }

    main .main{
        display: flex;
        flex-direction: column;
    }

    main .logo{
        display: flex;
        justify-content: flex-start;
    }

    main .logo img{
        width: 194px;
    }

    main .contact{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:475px){

    main{
        padding: 30px;
    }

    main .main .info h1{
        font-size: 26px;
        margin-top: 50px;
    }

    main .main .info p{
        font-size: 16px;
    }

    main .main .info button{
        margin: 10px 0 30px 0;
    }
    
    main .contact{
        margin: 30px 0
    }
}